<section class="page__404">
  <div class="container">
    <div class="page__404-wrapper">
      <div class="page__404-head">
        Error Page
      </div>
      <div class="page__404-inner">
        <div class="page__404-404">
          404
        </div>
        <div class="page__404-title">
          Sorry Page Was Not Found
        </div>
        <div class="page__404-text">
          The page you are looking is not available or has been removed.
          Try going to Home Page by using the button below.
        </div>
        <a routerLink="/" class="page__404-link">
          Go To Home Page
        </a>
      </div>
    </div>
  </div>
</section>
